main {
    display: flex;
    justify-content: center;
}

.fonctionnement {
    flex-direction: row;
    justify-content: center;
    padding-top:0px;
    padding-bottom: 40px;
}

.lineaire-simple {
    max-width:350px;
}

.fonct {
    max-width: 350px;
}

.restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bloc-restaurant {
    width:25%;
    min-width: 400px;
}