body {
    font-family: 'Roboto', sans-serif;
    margin:0px;
    background-color: #f2f2f2;
}

p {
    font-size: 1.2em;
}

/* HEADER */

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height:100px;
    box-shadow: 0px 3px 8px 1px rgba(156, 156, 156, 0.39);
}

.header__logo img {
    object-fit: cover;
    height: 35px;
}

header p {
    display: flex;
    justify-content: center;
}

header i {
    margin-right:15px;
}

/* MAIN */

main {
    background-color: #f2f2f2;
    border-radius: 15px 15px 0px 0px;
}

h3 {
    margin-left:25px;
    color:#727272;
}

.subtitle__blue-underline {
    height:3px;
    width:45px;
    background-color: #99E2D0;
    margin-left:25px;
    margin-top:-15px;
    margin-bottom:10px;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2.3em;
    letter-spacing: 1px;
}

.rest-pic {
    display: flex;
    flex-direction: column;
}
.rest-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-right:30px;
    padding-left:30px;
    margin-top:-103px;
    background-color: #f2f2f2;
    z-index:1;
    border-radius: 50px 50px 0px 0px;
}

.menu-line {
    background-color: white;
    width: 80%;
    border-radius:15px;
    margin:10px;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    padding:15px;
}

.menu-line__info { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-line p,h2 {
    margin:0px;
}

.menu-line h2 {
    font-weight: 600;
}

.btn-order {
    display: flex;
    justify-content: center;
    margin-top:35px;
}

.rest-pic img {
    object-fit: cover;
    height: 440px;
    width:100%;
    z-index: auto;
}

.panel-entr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-meal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-dess {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BOUTON DEGRADE */

.degrad-btn {
    background: linear-gradient(#FF79DA, #9356DC);
    color:white;
    font-weight: bold;
    font-size: 0.9em;
    height:50px;
    width:60%;
    max-width:350px;
    min-width:175px;
    border-radius: 30px;
    border-style: none;
    margin-bottom:50px;
}

/* FOOTER */

footer {
    background-color: #353535;
}

.footer__logo {
    padding:25px 0px 25px 25px;
    color: white;
}

.footer__logo img {
    object-fit: cover;
    height: 25px;
    filter:invert(1);
}

footer i { 
    margin-right:15px;
}
