body {
    min-width: 500px;
}

/* ANIMATION */
@keyframes loader {
	0% {
		transform: scaleY(0.1);
		background: transparent;
	}

	50% {
		transform: scaleY(1);
		background: #9356DC;
	}

	100% {
		transform: scaleY(0.1);
		background: transparent;
	}
}

@keyframes content {
	0% {
		opacity:0;
	}
	25% {
		opacity:0.25;
	}
	50% {
		opacity:0.5;
	}
	75% {
		opacity:0.75;
	}
	100% {
		opacity:1;
	}
}

.loader {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.bar {
	width: 10px;
	height: 70px;
	background: #fff;
	display: inline-block;
	transform-origin: bottom center;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	animation: loader 1.2s ease-in-out infinite;
}

.bar1 {
	animation-delay: 0.1s;
}

.bar2 {
	animation-delay: 0.2s;
}

.bar3 {
	animation-delay: 0.3s;
}

.bar4 {
	animation-delay: 0.4s;
}

.bar5 {
	animation-delay: 0.5s;
}

.bar6 {
	animation-delay: 0.6s;
}

.bar7 {
	animation-delay: 0.7s;
}

.bar8 {
	animation-delay: 0.8s;
}

.content {
	animation: content 1000ms 1450ms both;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	background-color: #f2f2f2;
}

p {
	font-size: 1.2em;
	font-weight: 300;
}

/* HEADER */

.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 100px;
	box-shadow: 0px 3px 8px 1px rgba(156, 156, 156, 0.39);
}

.header__logo img {
	object-fit: cover;
	height: 35px;
}

header p {
	display: flex;
	justify-content: center;
}

header i {
	margin-right: 15px;
}

/* HEARTH */

.rest-pic {
	display: flex;
	flex-direction: column;
}

.rest-title {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	padding-right: 30px;
	padding-left: 30px;
	margin-top: -103px;
	background-color: #f2f2f2;
	z-index: 1;
	border-radius: 50px 50px 0px 0px;
}

h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 2.3em;
	letter-spacing: 1px;
	font-weight: 500;
}

/*
.hearth-full {
	color: white;
	font-size: 30px;
}

.hearth-full:hover i {
	transition: 600ms;
	background: linear-gradient(#FF79DA, #9356DC);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
*/

.rest-title .rest-title__container-hearth {
	display: flex;
	height: 35px;
	width: 35px;
  }
  .rest-title .rest-title__container-hearth:hover .rest-title__hearth-full {
	visibility: visible;
  }
  .rest-title .rest-title__container-hearth:hover .rest-title__hearth-empty {
	visibility: hidden;
  }
  
  .rest-title__hearth-full {
	visibility: hidden;
  }
  
  .rest-title__container-hearth i {
	width: 0;
	height: 0;
	font-size: 30px;
  }

  .fa-regular {
	color : grey;
  }

  .rest-title__container-hearth {
	color: #f2f2f2;
}
  
  .rest-title__container-hearth:hover {
	transition: 1000ms;
	background: linear-gradient(#FF79DA, #9356DC);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* MAIN */

main {
	background-color: #f2f2f2;
	border-radius: 15px 15px 0px 0px;
}

h3 {
	margin-left: 25px;
	font-weight: 500;
	color: #727272;
}

.subtitle__blue-underline {
	height: 3px;
	width: 45px;
	background-color: #99E2D0;
	margin-left: 25px;
	margin-top: -15px;
	margin-bottom: 10px;
}

/* INCLUDE ANIMATIONS */

.menu-line {
	margin: 10px;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background: #fff;
	height: 100px;
/*	width: 364px; */
    width: 85%;
	max-width: 427px;
	border-radius: 30px;
	animation: fadein 2000ms, slidein 1000ms;
	-moz-animation: fadein 2000ms, slidein 1000ms;
	transition: transform ease-in-out .6s;
}

.menu-line:hover .menu-line__graph {
	margin: -17px;
	visibility: visible;
	transition: margin ease-in-out 700ms;
}

.menu-line:hover i {
	transition: transform ease-in-out 700ms;
	transition-delay: 75ms;
	transform: rotate(720deg);
}

.menu-line p, h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.menu-line__graph {
	transition: 700ms;
	display: flex;
    /*position: absolute; */
	justify-content: center;
	align-items: center;
	visibility: hidden;
	background-color: #99e2d0;
	border-radius: 0px 30px 30px 0px;
	height: 100px;
	width: 85px;
	margin-right: -130px;
}

.menu-line__graph i {
	color: white;
	font-size: 30px;
}

.menu-line__info {
	width: 230px;
}

@keyframes slidein {
	from {
		margin-top: 7%;
	}

	to {
		margin-top: 3%;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
 /* Firefox */
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
 /* Safari & Chrome */
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-o-keyframes fadein {
 /* Opera */
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


/* END OF ANIMATION */

.menu-line p,h2 {
	margin: 0px;
}

.menu-line h2 {
	font-weight: 600;
}

.btn-order {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.degrad-btn {
	transition: transform ease-in-out .3s;
}

.degrad-btn:hover {
	transform: scale(1.1);
}

.rest-pic img {
	object-fit: cover;
	height: 440px;
	width: 100%;
	z-index: auto;
}

.panel-entr {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel-meal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel-dess {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* BOUTON DEGRADE */

.degrad-btn {
	background: linear-gradient(#FF79DA, #9356DC);
	color: white;
	font-weight: bold;
	font-size: 0.9em;
	height: 50px;
	width: 60%;
	max-width: 350px;
	min-width: 175px;
	border-radius: 30px;
	border-style: none;
	margin-bottom: 50px;
}

/* FOOTER */

footer {
	background-color: #353535;
}

.footer__logo {
	padding: 25px 0px 25px 25px;
	color: white;
}

.footer__logo img {
	object-fit: cover;
	height: 25px;
	filter: invert(1);
}

footer i {
	margin-right: 15px;
}