main {
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    margin-left:2%;
}

@media all and (min-width:1330px) and (max-width:9999px) {
    main {
        justify-content:center;
    }
}

@media all and (min-width:767px) and (max-width:978px) {
    main {
        justify-content:flex-start;
        margin-left:5%;
    }
}

.bloc-fctn {
    flex-direction: row;
    justify-content: center;
    padding-top:0px;
    padding-bottom: 40px;
}

.degrad-btn {
    max-width:350px;
}

.panel-rest {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bloc-rest {
    width:25%;
    min-width: 400px;
}

.menu-line {
    height:75px;
    width:320px;
    margin:
    10px;
}