body {
	min-width: 400px;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	background-color: #f2f2f2;
}
p {
	font-weight: 300;
}

h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 1.8em;
	letter-spacing: 1px;
	font-weight: 500;
}

.menu-line p,h2 {
	margin: 0px;
}

.menu-line h2 {
	font-weight: 600;
}

.menu-line h2 {
	font-size:18px;
}
.menu-line p {
	font-size:16px;
}


/* HEADER */

.header__logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	height: 100px;
	box-shadow: 0px 3px 8px 1px rgba(156, 156, 156, 0.39);
}

.header__logo img {
	object-fit: cover;
	height: 35px;
}

header i {
	margin-right: 15px;
	margin-left: 105%;
}

/* HEARTH */

.rest-pic {
	display: flex;
	flex-direction: column;
}

.rest-title {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	padding-right: 30px;
	padding-left: 30px;
	margin-top: -75px;
	background-color: #f2f2f2;
	z-index: 1;
	border-radius: 50px 50px 0px 0px;
}

.rest-title .rest-title__container-hearth {
	display: flex;
	height: 35px;
	width: 35px;
  }
  .rest-title .rest-title__container-hearth:hover .rest-title__hearth-full {
	visibility: visible;
  }
  .rest-title .rest-title__container-hearth:hover .rest-title__hearth-empty {
	visibility: hidden;
  }
  
  .rest-title__hearth-full {
	visibility: hidden;
  }
  
  .rest-title__container-hearth i {
	width: 0;
	height: 0;
	font-size: 25px;
	cursor:pointer;
  }

  .fa-regular {
	color : grey;
  }

  .rest-title__container-hearth {
	color: #f2f2f2;
}
  
  .rest-title__container-hearth:hover {
	cursor:pointer;
	transition: 1000ms;
	background: linear-gradient(#FF79DA, #9356DC);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* MAIN */

main {
	background-color: #f2f2f2;
	border-radius: 15px 15px 0px 0px;
}

h3 {
	margin-left: 25px;
	font-weight: 500;
	color: #727272;
}

.subtitle__blue-underline {
	height: 3px;
	width: 45px;
	background-color: #99E2D0;
	margin-left: 25px;
	margin-top: -15px;
	margin-bottom: 20px;
}

/* ===================ANIMATION========================= */


@keyframes slidein {
	from {
		margin-top: 7%;
	}

	to {
		margin-top: 3%;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
 /* Firefox */
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
 /* Safari & Chrome */
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-o-keyframes fadein {
 /* Opera */
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes check-rotation {
	0% {
	  -webkit-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(720deg);
	  -webkit-transform: rotate(720deg);
	  transform: rotate(720deg);
	}
  }
  @keyframes check-rotation {
	0% {
	  -webkit-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(720deg);
	  -webkit-transform: rotate(720deg);
	  transform: rotate(720deg);
	}
  }
  
  /* ===================MENU-LINE======================== */
  
  .menu-line {
	width: 90%;
	max-width:400px;
	height: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: white;
	margin-bottom: 15px;
	padding-right: 25px;
	border-radius: 17px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	animation: fadein 2000ms, slidein 1000ms;
	  -moz-animation: fadein 2000ms, slidein 1000ms;
	  transition: transform ease-in-out .6s;
	  box-shadow: 0px 3px 8px 1px rgba(156, 156, 156, 0.39);
  }
  
  .menu-line:hover .menu-line__graph {
	  margin-left: 50px;
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
  
  
	.menu-line:hover {
	  opacity: 0.9;
	}
  
	.menu-line:hover .fa-circle-check {
	  -webkit-animation: check-rotation 700ms ease forwards;
	  animation: check-rotation 700ms ease forwards;
	}
  
  .menu-line__info-title {
	width: 100%;
	font-weight: bold;
	font-size: 17px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  .menu-line__info-desc {
	width: 100%;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  }
  
  .menu-line__info {
	width: 100%;
	height: 60px;
	overflow: hidden;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	line-height: 25px;
  }
  
  .menu-line__info h2, p {
	margin:0;
  }
  
  .menu-line__price {
	width: 7%;
	font-weight: bold;
	font-size: 15px;
	border-radius: 0 17px 17px 0;
	padding-top: 38px;
	padding-right: 50px;
	margin-left: -55px;
	-webkit-transform: translateX(64px);
	transform: translateX(64px);
  }
  
  .fa-circle-check {
	font-size: 25px;
	color: white;
	position: relative;
	top: 23px;
  }
  
  .menu-line__graph {
	margin-right: -26px;
	background: #99E2D0;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 0 17px 17px 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translateX(72px);
	transform: translateX(72px);
  }
    
/* END OF ANIMATION */


.btn-order {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.degrad-btn {
	transition: transform ease-in-out .3s;
}

.degrad-btn:hover {
	transform: scale(1.1);
}

.rest-pic img {
	object-fit: cover;
	height: 440px;
	width: 100%;
	z-index: auto;
}

.panel-entr {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel-meal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel-dess {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* BOUTON DEGRADE */

.degrad-btn {
	background: linear-gradient(#FF79DA, #9356DC);
	color: white;
	font-weight: bold;
	font-size: 0.9em;
	height: 50px;
	width: 60%;
	max-width: 350px;
	min-width: 175px;
	border-radius: 30px;
	border-style: none;
	margin-bottom: 50px;
}

/* FOOTER */

footer {
	background-color: #353535;
}

footer a {
	color:white;
	text-decoration:none;
}

.footer__logo {
	padding: 25px 0px 25px 25px;
	color: white;
}

.footer__logo img {
	object-fit: cover;
	height: 25px;
	filter: invert(1);
}

footer i {
	margin-right: 15px;
}